// import variables
@import "_variables";

// reset
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: $main-font;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

q {
  &:before,
  &:after {
    content: "";
    content: none;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

.separator {
  color: $main-color;
  margin: 0 10px;
}

main {
  width: 100%;
}

// header
header {
  width: 100%;
  min-width: 1200px;
  height: 70px;
  display: flex;
  justify-content: center;
  padding: 10px 0;

  .header__wrap {
    display: flex;
    justify-content: space-around;

    .logo {
      font-size: 0;
      width: 120px;
      display: flex;
      align-items: center;
      background: no-repeat center / contain url(../images/logo.png);
    }

    nav {
      width: 50%;

      .gnb {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
          a {
            font-weight: 300;
            color: $main-color;
          }
        }
      }
    }
  }
}

// home
.home-title {
  font-size: 40px;
  line-height: 50px;
  font-weight: 500;
}

.home-subscript {
  margin-top: 30px;
  font-size: 14px;
  line-height: 20px;
}

.home-more {
  color: rgb(0, 195, 137);
  display: inline-block;
}

.main-visual {
  min-width: 1200px;
  display: flex;
  flex-direction: column;

  // .main-visual__img {
  //   width: 100%;
  //   height: calc(100vh - 70px);
  //   background: no-repeat center / cover url(../images/main_visual.jpg);

  //   .main-visual__content {
  //     height: 100%;
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: flex-end;
  //     text-align: center;
  //     padding-bottom: 200px;

  //     .main-visual__title {
  //       color: #fff; // temporary
  //     }

  //     .main-visual__subscript {
  //       font-weight: 300;
  //       color: #fff; // temporary
  //     }
  //   }
  // }

  .main-comparison {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    box-sizing: border-box;
    text-align: center;

    .main-comparison__img {
      width: 900px;
      height: 532px;
      background: no-repeat center / cover url(../images/main_comparison.png);
    }

    .main-comparison__content {
      margin-top: 40px;
    }
  }

  .main-products {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#fafafa, #ffffff);

    .main-products__content {
      padding: 0 100px;
    }
    .main-products__img {
      width: 360px;
      height: 100%;
      background: no-repeat center / contain url(../images/main_products.png);
    }
  }
}

// order
.order {
  text-align: center;

  .how-to-order {
    width: 600px;
    margin: 100px auto 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    .order__step {
      grid-column: 1 / -1;

      &:first-child {
        grid-column: 1 / 2;
      }
      &:nth-child(2) {
        grid-column: 2 / -1;
      }

      .step__container {
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid $point-color;
        border-radius: 20px;
        margin-bottom: 10px;

        .order__title {
          font-size: 18px;
          margin-bottom: 15px;

          .order__title--point {
            color: rgb(0, 195, 137);
            font-weight: 700;
          }
        }

        .order__text {
          font-size: 14px;
          line-height: 18px;

          .order__link {
            color: rgb(218, 85, 73);
          }

          .order__text--point {
            font-weight: 600;
          }
        }
      }

      .fa-chevron-down {
        font-size: 30px;
        font-weight: 800;
        color: rgb(0, 195, 137);
      }
    }
  }
}

// products
.products {
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;

  //product
  .product {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 1);
    box-shadow: 0 20px 20px #eee;
    border-radius: 40px;
    margin: 50px 0;
    transition: all ease-in-out 0.3s;

    .product__content {
      width: 300px;

      .product__title {
        font-size: 38px;
      }

      .product__subscript {
        margin-top: 16px;
        font-size: 20px;
      }

      .product__price {
        display: block;
        margin-top: 25px;
        font-size: 14px;
        color: #888;
      }
    }

    .product__img {
      width: 300px;
      height: 480px;
      background: no-repeat center / cover;
    }

    &:hover {
      border-color: #eee;
      box-shadow: 0 20px 20px #ddd;
    }
  }
}

// about
.about {
  .about-top {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    .about-top__slogan {
      font-size: 30px;
      line-height: 40px;
      font-weight: 300;
      text-align: center;

      .slogan__highlight {
        color: rgb(0, 195, 137);
        font-weight: 500;
      }
    }
  }

  .about-shipping {
    .shipping__img {
      height: 300px;
      background: no-repeat center / contain url(../images/shipping.png);
    }

    .shipping__content {
      margin-top: 30px;
      text-align: center;
      font-size: 20px;
      line-height: 30px;
    }
  }
}

// cs
.cs {
  min-width: 1200px;

  .cs-top {
    height: 350px;
    background-color: $point-color;
    padding: 70px 0;
    text-align: center;

    .cs-top__wrap {
      width: 660px;
      margin: 0 auto;

      .cs-top__title {
        font-weight: 700;
        font-size: 34px;
      }

      .cs-top__time {
        margin-top: 20px;
      }

      .cs-contact {
        margin-top: 40px;
        display: flex;
        justify-content: space-around;

        .cs-contact__wrap {
          &:first-child:hover {
            color: rgb(59, 177, 44);
          }

          &:nth-child(2):hover {
            color: rgb(218, 85, 73);
          }

          &:last-child:hover {
            color: rgb(212, 212, 59);
          }

          .icon-container {
            font-size: 24px;
          }

          .cs-contact__content {
            margin-top: 10px;
            font-size: 14px;

            .cs-contact__detail {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }

  .faq {
    margin-top: 50px;
    min-width: 1200px;
    padding: 0 50px;

    .faq__title {
      font-size: 40px;
      font-weight: 500;
      text-align: center;
    }

    // react-faq-component
    .faq-title {
      line-height: 50px;
    }

    .faq-row-wrapper {
      margin-top: 50px;
    }

    .row-content-text {
      line-height: 20px;
    }
  }
}

// footer
.footer {
  margin-top: 100px;
  min-width: 1200px;
  height: 200px;
  box-sizing: border-box;
  padding: 50px 0;
  background-color: #1c1c1c;
  color: #fff;
  font-weight: 200;
  font-size: 12px;
  line-height: 20px;

  * {
    color: inherit;
  }

  .footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;

    .footer__title {
      font-weight: 600;
      line-height: 30px;
    }

    .footer__logos {
      display: flex;

      .footer__logo {
        font-size: 0;
        width: 50px;
        height: 50px;
        background: no-repeat center / cover;
        filter: grayscale(100%);
        transition: filter ease-in-out 0.5s;
      }

      .logo__haccp {
        background-image: url(../images/haccp.png);

        &:hover {
          cursor: pointer;
          filter: grayscale(0%);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  // header
  header {
    width: 100%;
    min-width: 0;
    height: 10vh;
    padding: 10px 2vw;

    .header__wrap {
      width: 100%;
      justify-content: space-between;

      .logo {
        width: 20vw;
      }
    }
  }

  // home
  .home-title {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
  }

  .home-subscript {
    margin-top: 2vh;
    font-size: 0.9rem;
    line-height: inherit;
  }

  .main-visual {
    width: 100%;
    min-width: 0;
    flex-direction: column;

    .main-comparison {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 100px 0;
      box-sizing: border-box;
      text-align: center;

      .main-comparison__img {
        width: calc(30vh * 653 / 655);
        height: 30vh;
        background: no-repeat center / cover
          url(../images/main_comparison_mobile.png);
      }

      .main-comparison__content {
        margin-top: 40px;
      }
    }

    .main-products {
      width: 100%;
      height: 50vh;
      display: flex;
      flex-direction: column;
      padding: 5vh 0;

      .main-products__content {
        padding: 0;
      }

      .main-products__img {
        width: 60vw;
      }
    }
  }

  // footer
  .footer {
    width: 100%;
    display: flex;
    margin-top: 5vh;
    min-width: 0;
    height: 20vh;
    padding: 5vh 0;
    font-size: 0.7rem;
    line-height: 1.3rem;

    .footer__wrap {
      width: 100%;
      padding: 0 5vw;

      .footer__title {
        line-height: inherit;
      }
    }
  }
}
